.textarea {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
}

#message {
  width: 90%;
  height: 70%;
  padding: 40px;
  margin-bottom: 10px;
}

.bio {
  padding: 30px;
  text-justify: auto;
  font-size: 22px;
}
